﻿<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <style>css_placeholder</style>
</head>
<body style="background-color:#1E1E1E">
    <pre style="background-color:#1E1E1E"><code class="language_placeholder">code_placeholder</code></pre>
</body>
</html>